@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

a, p, div {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, b {
    font-family: 'Poppins', sans-serif;
    font-weight: 600!important;
}

.landing {
    height: 100vh;
    background: #7cdeff;
    background: radial-gradient(circle at right bottom, #7cdeff 0%, #fff 30%);
}

.landing h1, .landing h2, .landing h3, .landing h4, .landing h5, .landing h6, .landing b {
    color: #0492c2!important;
}

.speakers h1, .speakers h2, .speakers h3, .speakers h4, .speakers h5, .speakers h6, .speakers b {
    color: #0492c2!important;
}

.papers {
    background-color: #0492c2;
    color: white!important;
}

.about {
    background-color: #0492c2;
    color: white!important;
}

.organizers h1, .organizers h2, .organizers h3, .organizers h4, .organizers h5, .organizers h6, .organizers b {
    color: #0492c2!important;
}

.importantdates h1, .importantdates h2, .importantdates h3, .importantdates h4, .importantdates h5, .importantdates h6, .importantdates b {
    color: #0492c2!important;
}

.registration h1, .registration h2, .registration h3, .registration h4, .registration h5, .registration h6, .registration b {
    color: #0492c2!important;
}

.hero-image {
    width: 75%;
    margin-top: 10vh;
}

.hero-title {
    font-weight: 700!important;
    font-size: 8vw;
}

.hero-subtitle {
    color: black!important;
}

@media only screen and (max-width: 425px) {
    /* .landing {
        height: 110vh;
    } */
    .hero-image {
        width: 75%;
    }
    .hero-title {
        font-size: 15vw;
    }
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.nav-link {
    border-radius: 8px;
    font-weight: 500!important;
}

.navbar-brand {
    font-weight: 600!important;
    color: #0492c2!important;
}

.nav-link:hover {
    background-color: lightgray;
}

.btn-primary {
    background-color: #0492c2!important;
    border: #0492c2!important;
    font-family: 'Poppins', sans-serif!important;
}

.btn-primary:hover {
    opacity: 0.9;
}

.break-line {
    border-bottom: 3px solid #0492c2;
    width: 10%;
}

.navbar-toggler {
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
}
